@use '../../../assets/styles/AppVariables.scss' as base;

.aspire-card {
    display: flex;
    flex-direction: column;
    background-color: base.$base-color !important;
    height: 250px;
    padding: 24px;

    .card-logo {
        display: flex;
        align-self: flex-end;
        > svg {
            .logo {
                fill: white;
            }
        }
    }
}