@use '../../../../assets/styles/AppVariables.scss' as base;

.accordion-header {
    background-color: #F5F9FF !important;
    color: #0C365A !important;
    .header-content {
        display: flex;
        > svg {
            margin-right: 16px;
        }
    }
}

.accordion-icon {
    color: #d9e0f4;
}

.recent-transactions-list {
    .transaction-data-item {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }

    .credit-item {
        color: base.$base-color;
    }
}